/* https://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
a,
body,
canvas,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
li,
p,
span,
strong,
sup,
ul,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

body,
body * {
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: "Campton", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.IE-detected * {
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}
.IE-detected .htmlMem {
    transform: rotate(-0.01deg);
}

body * {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.clickthrough {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    z-index: 1000;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.banner,
.container {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid #777; */
    background: #000;
    overflow: hidden;
    display: none;
    box-sizing: border-box;
}
.banner::after {
    top: 0;
    left: 0;
    border: 1px solid #778;
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    box-sizing: border-box;
}
.banner,
.banner::after,
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.GUIDE,
.absolute,
.background,
.frame,
.htmlMem {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top left;
    background-repeat: no-repeat;
}
.frame {
    top: 0;
    display: none;
}
.GUIDE {
    opacity: 0.4;
    display: none;
}
.htmlMem .frame {
    z-index: 20;
}
.common {
    z-index: 30;
}
sup {
    font-size: 60%;
    vertical-align: top;
    letter-spacing: -5px;
}
.replay {
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer !important;
    z-index: 1100;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    display: none;
}
.replay.white {
    fill: #fff;
}
.replay.top-left {
    top: 0;
    left: 2px;
}
